<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast at Liljeholmen</title>
</head>
<body>
<div class="Forecast">
  <h2>
    Weather Forecast at Liljeholmen
  </h2>
  <div>
    Origin: <span th:text="${forcast.source()}"></span> <br>
    Date: <span th:text="${forcast.validTime()}"></span> <br>
    Temperature: <span th:text="${forcast.temperature()}"></span> <br>
    Humidity: <span th:text="${forcast.humidity()}"></span> <br>
  </div>
</div>

</body>
</html>